extends layout.pug

block content
  .chatroom-div

    if isAuthenticated
      h1 Hello #{user.username}
      p
        a(href='/logout') Logout

    form(method='POST')
      input#username(type='text' name='username' placeholder='User name')
      input#password(type='password' name='password' placeholder='Password')
      input#confirmation(type='password' name='confirmation' placeholder='Repeat Password')
      button(type='submit') Local login

    form(method='GET')
      button(type='submit' formaction='/auth/facebook/callback') Login with Facebook
