extends layout.pug

block content
  .chatroom-div

    if isAuthenticated
      h1 Hello #{user.name}
      p
        a(href='/logout') Logout

    form(method='POST')
      input#username(type='text' name='username' placeholder='User name')
      input#password(type='text' name='password' placeholder='Password')
      input#confirmation(type='text' name='confirmation' placeholder='Repeat Password')
      button(type='submit') Send
